[Unit]
Description=Blueberry A2DP Bluetooth Agent
After=bluetooth.service
Wants=bluetooth.service

[Service]
ExecStartPre=bluetoothctl discoverable on
ExecStart=/usr/bin/python -u /usr/lib/blueberry/agent.pyc
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Blueberry-Agent

[Install]
WantedBy=bluetooth.service