[Unit]
Description=Blueberry Daemon
After=blueberry-agent.service
Wants=blueberry-agent.service

[Service]
ExecStart=/usr/bin/blueberryd

[Install]
WantedBy=blueberry-agent.service